<!-- <ul>
    <li><a routerLink="/invoicedetails" routerLinkActive="active" ariaCurrentWhenActive="page">Invoice Details</a></li>
    <li><a routerLink="/invoicelisting" routerLinkActive="active" ariaCurrentWhenActive="page">Invoice list</a></li> 
    

</ul> -->
<div class="head">
    <div class="child1">
        <button mat-button color="primary" [matMenuTriggerFor]="menu"> <mat-icon>view_list</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/invoicedetails" routerLinkActive="active">Invoice Entering</button>
            <button mat-menu-item routerLink="/invoicelisting" routerLinkActive="active">Invoice List</button>
        </mat-menu>   
    </div>
    <div class="child2">
        <h2>INVOICE DETAILS</h2>
    </div>
</div>

<!--<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>INVOICE DETAILS</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <button mat-list-item routerLink="/invoicedetails" routerLinkActive="active">Invoice Entering</button>
            <button mat-list-item routerLink="/invoicelisting" routerLinkActive="active">Invoice List</button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;"></div>
    </mat-sidenav-content>
</mat-sidenav-container>-->


