<mat-card class="table">
    
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
<ng-container matColumnDef="invoiceNumber">
    <th mat-header-cell *matHeaderCellDef> invoice_number </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="invoiceDate">
    <th mat-header-cell *matHeaderCellDef> invoice_date </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="employeeID">
    <th mat-header-cell *matHeaderCellDef>Employee </th>
    <td mat-cell *matCellDef="let element"> {{element.employeeID}} </td>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <tr (click)="displayData(this.row,i)" mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>

</mat-table>
  <button class="btn" mat-raised-button color="primary" (click)="addInvoice()">Add New</button>
</mat-card>

