.card {
    background-color: white;
    border: 1px solid white;
    border-radius: 1rem;
    width: 100% !important;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.mat-form-field
{
    width: 20%;
    margin: 15px;
}


.tablecard{
    background-color: white;
    border: 1px solid white;
    width: 100%;
    align-content: center;
    padding: 5%;
    border-radius: 1rem;
    float: none;
}

.product {
    width: 10px;
}

.mat-elevation-z8 {
    width: 100%;
    margin: 5px;
    border-radius: 1rem;
    float: none;
    margin-bottom: 10px;
}

.btn {
    margin-left: 2%;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50
}

.mat-column-productName {
    
    flex: 0 0 10% !important;
    width: 5% !important;
}

.mat-column-warrenty {
    
    flex: 0 0 10% !important;
    width: 5% !important;
}

.mat-column-quantity {
    
    flex: 0 0 10% !important;
    width: 5% !important;
}

.mat-column-amount {
   
    flex: 0 0 10% !important;
    width: 5% !important;
}

.mat-column-rate {
   
    flex: 0 0 10% !important;
    width: 5% !important;
}

.mat-column-disc{
    
    flex: 0 0 10% !important;
    width: 5% !important;
}
.mat-column-discount{
    
    flex: 0 0 10% !important;
    width: 5% !important;
}
.mat-column-netAmount{
    flex: 0 0 10% !important;
    width: 5% !important;
}


.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
.addicon{
    position: absolute;
    left: 85%;
    left:translateX(85%) !important;
}
.deleteicon{
    position: absolute;
    left: 90%;
    left:translateX(90%) !important;
}
.main {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}


.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-sidenav-container {
    height: 700px;
}

.mat-sidenav {
    width: 300px;
    background-color: aliceblue;
}