
<div class="head">
    <h2>Invoice details</h2>
</div>
    
<mat-card class="card">
    <mat-form-field appearance="fill">
        <mat-label>Invoice Number</mat-label>
        <input matInput [(ngModel)]="invoice.invoiceNumber" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Invoice Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="invoice.invoiceDate" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
  

    <mat-form-field appearance="fill">
      <mat-label>Direct/SNS</mat-label>
      <mat-select name="directSns" [(ngModel)]="invoice.directionSns" >
        <mat-option *ngFor="let DirectSns of directSNS" [value]="DirectSns.value">
          {{DirectSns.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Customer Name</mat-label>
      <input matInput [(ngModel)]="invoice.customerName">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Employee ID</mat-label>
        <input matInput [(ngModel)]="invoice.employeeID" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput [(ngModel)]="invoice.amount" required>
  </mat-form-field>
</mat-card>



<mat-card class="table">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="productName">
			<mat-header-cell *matHeaderCellDef class="tablehead"> Product Name </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never" style="width: 300px;">
					<mat-label>Product</mat-label>
          <mat-select name="productName" [(ngModel)]="element.productName">
            <mat-option *ngFor="let Product of productName" [value]="Product.value">
              {{Product.viewValue}}
            </mat-option>
          </mat-select>
				</mat-form-field>
			</mat-cell>
		</ng-container>
    <ng-container matColumnDef="warrenty">
			<mat-header-cell *matHeaderCellDef class="tablehead"> Warrenty </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never" style="width: 100px;">
					<input matInput placeholder="Warrenty" [value]="element.warrenty" [(ngModel)]="element.warrenty">
				</mat-form-field>
			</mat-cell>
		</ng-container>
    <ng-container matColumnDef="quantity">
			<mat-header-cell *matHeaderCellDef class="tablehead"> Quantity </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never" style="width: 100px;">
					<input matInput placeholder="Quantity" [value]="element.quantity" [(ngModel)]="element.quantity">
				</mat-form-field>
			</mat-cell>
		</ng-container>

    <ng-container matColumnDef="rate">
			<mat-header-cell *matHeaderCellDef class="tablehead"> Rate </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never" style="width: 100px;">
					<input matInput placeholder="rate" [value]="element.rate" [(ngModel)]="element.rate">
				</mat-form-field>
			</mat-cell>
		</ng-container>
   
    <ng-container matColumnDef="amount">
			<mat-header-cell *matHeaderCellDef class="tablehead">Amount</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never" style="width: 100px;">
					<input matInput placeholder="Amount" [value]="element.amount" [(ngModel)]="element.amount">
				</mat-form-field>
			</mat-cell>
		</ng-container>

    <ng-container matColumnDef="add">
      <span mat-header-cell *matHeaderCellDef mat-sort-header></span>
      <span mat-cell *matCellDef="let i = index"> 
          <mat-icon (click)="addRow()">add_shopping_cart</mat-icon>
      </span>
    </ng-container>

    <ng-container matColumnDef="delete">
      <span mat-header-cell *matHeaderCellDef mat-sort-header></span>
      <span mat-cell *matCellDef="let i = index"> 
          <mat-icon (click)="deleteRow(i)">delete_forever</mat-icon>
      </span>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button mat-raised-button color="primary" (click)="Save()">Submit</button>
</mat-card>
  
