.card {
    background-color:white;
    border: 1px solid white;
    border-radius : 1rem;
    width:100% !important;
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
  }
.mat-form-field{
    width: 18%;
    margin: 15px;
}
.head{
    text-align: center;
}